.logo img {

  right: 10%;
}

ul.bar li>a {
    color: black !important;
}

.main-img {
    position	: relative;
    width		: 100%; /* for IE 6 */
}

.content {
    color: white;
    position	: absolute;
    top		: 100px;

}

.content-news {
    position	: relative;
    top: 32px;
    right: -28px;
}

.inp {
    height: 37px;
}

.main {
    padding-bottom: 40px;
}

news-header {

}

.box-news {
    width: 349px;
    height: 243px;

    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.btnnews {

    width: 156px;
    height: 44px;
    margin-top: 18px;


    border: 1px solid #D51522;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 8px rgba(65, 65, 65, 0.25));

}

.btnnews {
    color: red;
}

.news-text {
    left: -16px;
}

.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    right: 10px;

    color: #636363;
}

.shadow-red{

    box-shadow: -11px -11px red;
}

.shadow-purple {
    box-shadow: 11px 11px purple;

}

.footer {
    background-color: #010008;
    height: 135px;
    margin-top: 10%;
    width: 101%;
}

.logo-f {
    left: 10.42%;
    padding: 27px;
}


.footbar p>a {
    color: white;
    text-decoration: none;

}

.footbar {
    left: 16%;
    padding: 50px;
}

.page-item.active .page-link {

    background-color: red !important;
}


